
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
$enable-gradients: true;
@import '~bootstrap/scss/bootstrap';

.text-underline {
    text-decoration: underline;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.header {
    .nav-tabs .nav-link {
        font-size: 1.2rem;
    }
}

.header.header-gradient {
    background: linear-gradient(120deg,lighten(#007bff, 40%) 0,lighten(#007bff, 10%) 100%);
    color: #fff;

    .nav-tabs .nav-link {
        &:not(.active) {
            color: #fff;   
        }
    }
}