<template>
  <div id="replacement">
    <replacement-item
      v-for="(item, index) in itemsData"
      :key="index"
      :asdf="index"
      :item="item"
      @remove="remove"></replacement-item>
  </div>
</template>

<script>
  import ReplacementItem from './ReplacementItem';

  var defaultItems = [
    {
      search: '',
      replace: ''
    },
    {
      search: '',
      replace: ''
    },
    {
      search: '',
      replace: ''
    },
    {
      search: '',
      replace: ''
    }
  ]

  export default {
    props: ['items'],
    components: {
      'replacement-item': ReplacementItem
    },
    data() {
      return {
        itemsData: defaultItems,
      }
    },
    methods: {
      add(event) {
        event.preventDefault()
        this.itemsData.push({
          search: '',
          replace: '',
        })
      },
      remove(index, editorId, event) {
        event.preventDefault()
        $('#'+ editorId).remove()
        $('.'+ editorId).remove()
        this.itemsData.splice(index, 1)
      },
    },
    created() {
      if (this.items !== 'null') {
        this.itemsData = JSON.parse(this.items)

        if (this.itemsData.length < 4) {
          var max = 4 - this.itemsData.length
          for (var i = 0; i < max; i++) {
            this.itemsData.push({
              search: '',
              replace: '',
            })
          }
        }
      }
    },
    mounted() {
      // console.log(this.items)
      // this.populateAce()
    }
  }
</script>
