<template>
  <div :id="'row-'+ $vnode.key" class="form-group border-bottom pb-3">
    <div class="form-row">
      <div class="col-xs-1">
        <h4><span class="badge badge-secondary">{{ $vnode.key + 1 }}</span></h4>
        <!-- <a href="#" class="btn btn-sm btn-danger" @click="$emit('remove', $vnode.key, 'editor-search-'+ item.uniq, $event)">x</a> -->
      </div>
      <div class="col">
        <label for="exampleInputEmail1">Search</label>
        <input v-if="item.id" type="hidden" :name="'replacements['+ $vnode.key +'][id]'" :value="item.id">
        <textarea rows="3" data-editor="html" :name="'replacements['+ $vnode.key +'][search]'" class="form-control" :value.prop="item.search"></textarea>
      </div>
      <div class="col">
        <label for="exampleInputEmail1">Replace</label>
        <textarea rows="3" data-editor="html" :name="'replacements['+ $vnode.key +'][replace]'" class="form-control" :value.prop="item.replace"></textarea>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['item', 'asdf'],
    data() {
      return {
        search: '',
        replace: ''
      }
    },
    created () {
      this.search = this.item.search
      this.replace = this.item.replace
    },
    mounted() {
      // var textarea = $('#row-'+ this.$vnode.key +' textarea[data-editor]')
    }
  }
</script>
